img.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

a.user-toggle {
    color: white;
}

div.user-info {
    display: flex;
    column-gap: 10px;
    padding: 24px;
    align-items: center;
}
